/****************************************
Demuestra tu #hambredelolla - La Crianza
Agencia Inflamable - 2016 
****************************************/

/****************
FONTS
****************/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?38582167');
    src: url('../font/fontello.eot?38582167#iefix') format('embedded-opentype'),
        url('../font/fontello.woff?38582167') format('woff'),
        url('../font/fontello.ttf?38582167') format('truetype'),
        url('../font/fontello.svg?38582167#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PraterSansOne-Regular';
    src: url('../font/PraterSansOne-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../font/PraterSansOne-Regular.otf')  format('opentype'),
        url('../font/PraterSansOne-Regular.woff') format('woff'),
        url('../font/PraterSansOne-Regular.ttf')  format('truetype'), 
        url('../font/PraterSansOne-Regular.svg#PraterSansOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PraterSansOne-Bold';
    src: url('../font/PraterSansOne-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../font/PraterSansOne-Bold.otf')  format('opentype'),
        url('../font/PraterSansOne-Bold.woff') format('woff'), 
        url('../font/PraterSansOne-Bold.ttf')  format('truetype'), 
        url('../font/PraterSansOne-Bold.svg#PraterSansOne-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****************
BODY
****************/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url('../img/bg.jpg') repeat-y;
    font-family: PraterSansOne-Regular !important;
    color: white;
}
section {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
a:focus, a:active {
    color: #fff;
}
/* ---- Top ---- */
#top {
    position: relative;
}
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.nav-header {
    z-index: 10;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    margin-right: -0px;
    margin-left: -0px; 


}
.nav-right {
    text-align: right;
    margin-top: 35px;
    font-family: PraterSansOne-Regular;
}
.nav-right:hover a {
    color: #FF3333;
}
.nav-logo {
    background: url('../img/header_logo.png') center center no-repeat;
    width: 100%;
    height: 130px;
    background-size: contain;
    margin-top: 7%;
}
.nav-left {
    margin-top: 35px;
    font-family: PraterSansOne-Regular;
}
.nav-left:hover a {
    color: #00CC99;
}

.campaing-logo-div {
    background: url('../img/campaing-logo.png') center center no-repeat;
    width: auto;
    height: 80%;
    vertical-align: middle;
    margin-bottom: 0%;
}
.campaign-call {
    width: auto;
    height: 65%;
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: PraterSansOne-Regular;
    color: #fff;
    font-size: 19px;
    vertical-align: middle;
}
/* ---- Bottom ---- */
.bottom {
    position: relative;
}
.divider-stripe {
    background: url('../img/divider.png') center center no-repeat;
    width: 100%;
    height: 225px;
    background-size: cover;
    z-index: 10;
    position: absolute;
    margin-top: -60px;
    font-family: PraterSansOne-Bold;
}
.conecta-text {
    color: #500079;
    text-align: center;
    font-size: 26px;
    padding-top: 58px;
    margin-bottom: 20px;
}
.tw-left {
    text-align: right;
}
.fb-right {
    text-align: left;
}
.connect-buttons {
    text-align: center;
}
.connect-tw {
    margin-right: 5px;
    width: 255px;
    height: 100px;
    color: #fff;
    background: #00A9E7;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}
.connect-fb {
    margin-right: 5px;
    width: 255px;
    height: 100px;
    color: #fff;
    background: #1D39B1;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}
.connect-ig {
    width: 255px;
    height: 100px;
    color: #fff;
    background: #9c6849;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}
.action-call {
    margin-top: 20px;
    font-family: PraterSansOne-Regular;
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    position: absolute;
    top: 175px;
}
.load_more {
    text-align: center;
    margin-top: 100px;
}
.load-more-bt {
    width: 255px;
    height: 100px;
    color: #fff;
    background: #FF004F;
    padding: 10px 25px 10px 25px;
    bottom: 100px;
}
.row-feed {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.sn-feed {
    position: absolute;
    height: auto;
    width: 100%;
    top: 260px;
    padding-right: 0px;
    padding-left: 0px;
}
/* ---- Footer ---- */
.footer {
    z-index: 10;
    height: 150px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    position: relative;
    margin-top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.line-foot {
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    width: 1px;
    height: 110px;
    position: absolute;
    margin-top: 20px;
}
.lc-logo {
    position: absolute;
    right: 0;
    width: 120px;
    margin-top: 30px;
    margin-right: 3%;
}
.lolla-logo {
    position: absolute;
    width: 150px;
    margin-top: 45px;
    margin-left: 5%;
}
.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 13px;
    height: 40px;
    padding-top: 10px;
    bottom: 0;
    position: absolute;
}